:root
  --black: #333
  --gray: #ddd

body
  color: var(--black)
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-weight: 300
  padding: 10px
